{% load static %}
{% load navbar %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css_include %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/react-with-addons-0.13.3.js' %}"></script>
  </head>
  <body role="document">
    <nav class="navbar navbar-inverse navbar-static-top" style="border:0; margin: 0;">
      <div class="container-fluid" style="padding-right: 0;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar-collapse"
                  aria-expanded="false">
            <span class="fa fa-bars"></span>
          </button>
          <a href="{% url 'project-list' %}" class="navbar-brand">
            Jeeves
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% active_page request 'project-list' %}">
              <a href="{% url 'project-list' %}" style="height:4em;">
                Projects
              </a>
            </li>
            {% if project %}
            <li class="{% active_page request 'build-list' %}">
              <a href="{% url 'build-list' project_slug=project.slug %}" style="height:4em;">
                {{ project.name }}
              </a>
            </li>
            {% endif %}
            {% if build %}
            <li class="{% active_page request 'build-view' %}">
              <a href="{% url 'build-view' project_slug=build.project.slug build_id=build.build_id %}" style="height:4em;">
                #{{ build.build_id }}
              </a>
            </li>
            {% endif %}
          </ul>
        {% if user.is_authenticated %}
        <img class="nav navbar-right" src="{{ user.email|gravatar }}" style="height:4em;margin:0;"/>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false" style="height:4em;">
              {{ user.username }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'logout' %}">logout</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    {% include "partials/messages.html" with messages=messages %}

    {% block content %}
    {% endblock %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block javascript_include %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jeeves.js' %}"></script>
    <script type="text/javascript">
    {% block js %}
    {% endblock %}
    </script>
  </body>
</html>
