{% extends "base.html" %}
{% block title %}Jeeves - {{ project.name }} - Builds{% endblock %}

{% block content %}
<div class="container-fluid" style="margin:0.2em">
  <h2 class="page-header">{{ project.name }}
      {% if perms.can_edit_project %}
        <a href="{% url 'admin:core_project_change' project.id %}"
           role="button" class="pull-right btn btn-default">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
      {% endif %}
  </h2>

  <div class="row" style="margin:0.2em">
    <div class="panel panel-default col-lg-6">
      <div class="panel-body">
        {{ project.description }}
      </div>
    </div>
    <div class="col-lg-6">
    </div>
  </div>

  {% include "partials/messages.html" with messages=messages %}
  <h3>Builds</h3>

  <div class="table-responsive">
    <table class="table table-striped">
      <tbody id="build-table">
      {% for build in object_list %}
        {% ifchanged %}<tr><td colspan="8" class="h5"><strong>{{ build.creation_time|date:"DATE_FORMAT" }}</strong></td></tr>{% endifchanged %}
        {% include "partials/build_list_row.html" with build=build %}
      {% empty %}
        <tr><td>No builds yet.</td></tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block js %}
swampdragon.onChannelMessage(function (channels, message) {
  console.log(message.data);
  var element = $('#build-' + message.data.id);
  if (element.length == 0) {
    $('#build-table').prepend(message.data.row_html);
  } else {
    element.replaceWith(message.data.row_html);
  }
  update_progress_bars();
  update_age_displays();
});

swampdragon.ready(function() {
  swampdragon.subscribe('build-changes', 'build-change-{{ project.id }}', null);
});
{% endblock %}

{% block jsx %}
update_progress_bars();
update_age_displays();
{% endblock %}
