{% extends "base.html" %}
{% block title %}Jeeves - {{ project.name }} - Build #{{ object.id }}{% endblock %}

{% block content %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'build-list' project_slug=project.slug %}">{{ project.name }}</a></li>
    <li class="active">Build #{{ object.build_id }}</li>
  </ol>

  <h1>Build #{{ object.build_id }} ({{ build.status }})</h1>

  {% if object.result %}
    {% if object.result == "success" %}
    <div role="alert" class="alert alert-success">
      <strong>Success!</strong> Very good, sir.
    </div>
    {% else %}
    <div role="alert" class="alert alert-danger">
      <strong>Failure!</strong> I'm sorry to hear that, sir.
    </div>
    {% endif %}
  {% endif %}

  <div class="row container">
    <div class="panel panel-default col-sm-6">
      <div class="panel-body">
        <p><strong>Created:</strong> {{ build.creation_time }}</p>
        {% if build.start_time %}
          <p><strong>Started:</strong> {{ build.start_time }}</p>
        {% endif %}
        {% if build.status == 'running' %}
            {% with build.get_progress as progress %}
            <div class="progress" style="width:75%">
              <div class="progress-bar progress-bar-success {% if not progress.over %}active progress-bar-striped{% endif %}"
                   style="width:{{ progress.percentage }}%">
                <span>{{ progress.duration }}</span>
              </div>
              {% if progress.over %}
              <div class="progress-bar progress-bar-warning active progress-bar-striped" style="width:{{ progress.over }}%"></div>
              {% endif %}
            </div>
            {% endwith %}
          {% else %}
            <p><strong>Duration:</strong> {{ build.get_duration|default:'' }}</p>
          {% endif %}
      </div>
    </div>
    <div class="col-lg-6">
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="pull-left">Log</h4>
      <a href="{% url 'build-log' project_slug=project.slug build_id=build.build_id %}"
         role="button" class="pull-right btn btn-default" target="_blank">
        <span class="glyphicon glyphicon-new-window">
      </a>
    </div>
      <div class="panel-body">
        <pre class="pre-scrollable">{{ object.get_log }}</pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {% if build.status == "running" %}
  setTimeout(function() {
    window.location.reload();
  }, 5000);
  {% endif %}
{% endblock %}
