{% extends "base.html" %}
{% block title %}Jeeves - {{ project.name }} - Build #{{ object.build_id }}{% endblock %}

{% block content %}
<div class="container-fluid" style="margin:0.2em">
  <ol class="breadcrumb">
    <li><a href="{% url 'build-list' project_slug=project.slug %}">{{ project.name }}</a></li>
    <li class="active">Build #{{ object.build_id }}</li>
  </ol>

  {% include "partials/build_detail_header.html" with build=object %}

  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="pull-left">Log</h4>
      <div class="pull-right form-inline">
        <div class="checkbox" style="margin-right: 1em;">
          <label>
            <input type="checkbox" id="enable-auto-scrolling" checked="checked"/>
            Auto scroll
          </label>
        </div>
        <a href="{% url 'build-log' project_slug=project.slug build_id=build.build_id %}"
           role="button" class="btn btn-default" target="_blank">
          <span class="glyphicon glyphicon-new-window"></span>
        </a>
      </div>
    </div>
      <div class="panel-body">
        <pre id="log" class="pre-scrollable">{{ object.get_log }}</pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
var current_log_offset = {{ object.get_log|length }};

function scroll_log(delay) {
  if (!$('#enable-auto-scrolling').prop('checked')) {
    return;
  }

  var log = $('#log');
  if (delay === 0) {
    log.scrollTop(log.prop('scrollHeight'));
  } else {
    if (delay == null) {
      delay = 500;
    }

    log.animate({
      scrollTop: log.prop('scrollHeight')
    }, delay);
  }
}

swampdragon.ready(function() {
  setInterval(function () {
    swampdragon.callRouter('get_detail_header', 'build-changes',
      {id: {{ build.id }}, log_offset: current_log_offset},
      function(context, data) {
        console.log(data);
        if (data.html != null) {
          $('#build-' + {{ build.id }}).replaceWith(data.html);
        }
        if (data.log_data != null) {
          var log = $('#log');
          log.append(data.log_data);
          current_log_offset = data.log_offset;

          scroll_log();
        }
      });
  }, 2000);
});

scroll_log(0);

{% endblock %}
