{% extends "base.html" %}
{% block title %}Jeeves - {{ project.name }} - Builds{% endblock %}

{% block content %}
<div class="container-fluid" style="margin:0.2em">
  <h2 class="page-header" style="margin-top: 1em;">{{ project.name }}
      {% if perms.can_edit_project %}
        <a href="{% url 'admin:core_project_change' project.id %}"
           role="button" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
      {% endif %}
  </h2>

  <div class="row" style="margin:0.2em">
    <div class="panel panel-default col-lg-6">
      <div class="panel-body">
        {{ project.description }}
      </div>
    </div>
    <div class="col-lg-6">
    </div>
  </div>

  <h3>Builds
    <a href="{% url 'project-graphs' project_slug=project.slug %}"
       role="button" class="btn btn-default">
      <span class="fa fa-bar-chart"></span>
    </a>
  </h3>

  <div class="table-responsive">
    <table class="table table-striped">
      <tbody id="build-table">
      {% for build in object_list %}
        {% ifchanged %}
        <tr>
          <td colspan="8" class="h5">
            <strong>{{ build.creation_time|date:"DATE_FORMAT" }}</strong>
          </td>
        </tr>
        {% endifchanged %}
        {% include "partials/build_list_row.html" with build=build %}
      {% empty %}
        <tr><td>No builds yet.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block js %}
var wsStart = 'ws://';
if (window.location.protocol == 'https:') {
  wsStart = 'wss://'
}
var ws = new WebSocket(wsStart + window.location.hostname + ':9998/ws/builds/{{ project.id }}/');

ws.onmessage = function(e) {
  var data = JSON.parse(e.data);

  console.log(data);
  var element = $('#build-' + data.id);
  if (element.length == 0) {
    $('#build-table').prepend(data.row_html);
  } else {
    element.replaceWith(data.row_html);
  }
  update_progress_bars();
  update_age_displays();
};

ws.onopen = function(e) {
  console.log('web socket connected');
}

ws.onclose = function(e) {
  console.error('web socket closed unexpectedly');
};

$(document).ready(function() {
  update_progress_bars();
  update_age_displays();

  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
  });
});
{% endblock %}
