{% extends "base.html" %}
{% block title %}Jeeves - {{ project.name }} - Builds{% endblock %}

{% block content %}
<div class="container">
  <h2 class="page-header">{{ project.name }}
      {% if perms.can_edit_project %}
        <a href="{% url 'admin:core_project_change' project.id %}"
           role="button" class="pull-right btn btn-default">
          <span class="glyphicon glyphicon-edit">
        </a>
      {% endif %}
  </h2>

  <div class="container row">
    <div class="panel panel-default col-lg-6">
      <div class="panel-body">
        {{ project.description }}
      </div>
    </div>
    <div class="col-lg-6">
    </div>
  </div>

  <h3>Builds</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
  {% for build in object_list %}
      {% ifchanged %}<tr><td colspan="5" class="h5"><strong>{{ build.start_time|date:"DATE_FORMAT" }}</strong></td></tr>{% endifchanged %}
      <tr>
        <td class="text-center" style="width:5%">
          <a href="{% url 'build-view' project_slug=project.slug build_id=build.build_id %}">
            #{{ build.id }}
          </a>
        </td>
        <td class="text-center" style="width:10%">
          {% if build.status == 'running' %}
          <span class="label label-warning">running</span>
          {% elif build.status == 'finished' %}
            {% if build.result == "success" %}
            <span class="label label-success">success</span>
            {% else %}
            <span class="label label-danger">failure</span>
            {% endif %}
          {% endif %}
        </td>
        <td style="width:10%">{{ build.start_time|date:"H:i:s" }}</td>
        <td style="width:20%">
          {% if build.status == 'running' %}
            {% with build.get_progress as progress %}
            <div class="progress" style="width:75%">
              <div class="progress-bar progress-bar-success" style="width:{{ progress.percentage }}%"></div>
              {% if progress.over %}
              <div class="progress-bar progress-bar-danger" style="width:{{ progress.over }}%"></div>
              {% endif %}
            </div>
            {% endwith %}
          {% else %}
            {{ build.get_duration|default:'' }}
          {% endif %}
        </td>
        <td>{{ build.instance }}</td>
      </tr>
  {% empty %}
      <tr><td>No builds yet.</td></tr>
  {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block js %}
  setTimeout(function() {
    window.location.reload();
  }, 10000);
{% endblock %}
