{% extends "base.html" %}
{% block title %}Project List{% endblock %}

{% block content %}
<div class="container">
  <h2 class="page-header">Projects</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:25%">Name</th>
        <th>Description</th>
        <th class="text-right" style="width:5%">
          {% if perms.can_add_project %}
            <a href="{% url 'admin:core_project_add' %}"
               role="button" class="btn btn-success">
              <span class="glyphicon glyphicon-plus" style="color:white"></span>
            </a></td>
          {% endif %}
        </th>
      </tr>
    </thead>
    <tbody>
{% for project in object_list %}
    <tr>
      <td class="h4" style="vertical-align:middle"><a href="{% url 'build-list' project_slug=project.slug %}">{{ project.name }}</a></td>
      <td style="vertical-align:middle">{{ project.description }}</td>
      <td class="text-right">
        {% if perms.can_edit_project %}
          <a href="{% url 'admin:core_project_change' project.id %}"
             role="button" class="btn btn-default">
            <span class="glyphicon glyphicon-edit">
          </a>
        {% endif %}
      </td>
    </tr>
{% empty %}
    <tr><td>No projects yet.</td></tr>
{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
