{% extends "base.html" %}
{% block title %}Jeeves - Projects{% endblock %}

{% block content %}
<div class="container-fluid" style="margin:0.2em">
  <h3 class="page-header" style="margin-top: 1em;">Projects</h3>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:25%">Name</th>
        <th>Description</th>
        <th class="text-right" style="width:5%">
          {% if perms.can_add_project %}
            <a href="{% url 'admin:core_project_add' %}"
               role="button" class="btn btn-success">
              <span class="glyphicon glyphicon-plus" style="color:white"></span>
            </a></td>
          {% endif %}
        </th>
      </tr>
    </thead>
    <tbody>
{% for project in object_list %}
    <tr>
      <td class="h4" style="vertical-align:middle">
        <a href="{% url 'build-list' project_slug=project.slug %}">{{ project.name }}</a>
        {% with num_running_builds=project.get_num_running_builds %}
          {% if num_running_builds %}
          <span class="badge">{{ num_running_builds }}</span>
          {% endif %}
        {% endwith %}
      </td>
      <td style="vertical-align:middle">{{ project.description }}</td>
      <td class="text-right">
        {% if perms.can_edit_project %}
          <a href="{% url 'admin:core_project_change' project.id %}"
             role="button" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        {% endif %}
      </td>
    </tr>
{% empty %}
    <tr><td>No projects yet.</td></tr>
{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
