.build-row {
    color: grey;
}

.build-row td .progress {
    margin: 0;
}

.clickable-row {
    cursor: pointer;
}

.table tr.build-row td {
    vertical-align: middle;
}

.full-width {
    display: block;
}

.progress {
    position: relative;
}

.progress .progress-bar {
    transition: none;
    -webkit-transition: none;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.commit-info {
    width: 70%;
}

.commit-message {
    width: 100%;
    font-family: monospace;
    max-height: 10em;
    height: 6em;
    border: 0;
    background: #eee;
    resize: none;
    outline: none;
}

.commit-author {
    color:grey;
}

.build-info {
    vertical-align: top;
    overflow: hidden;
}

.build-info {
    text-overflow: ellipsis;
}

.log-data {
    border: 0;
    background: black;
    color: lightgrey;
    margin: 0;
    border-radius: 0;
}

.job-row {
    color: grey;
}

tbody.job-table>tr>td, tbody.job-table>th>td {
    border: 0;
}

.panel-default .panel-heading {
    color: #777;
}

#log-view .navbar-brand {
    font-size: 14px;
}

.log-line-number {
    color: #888;
    background-color: #000;
    border-right: 1px solid #555;
    width: 3em;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    font-family: monospace;
    vertical-align: top;
}

.log-line-data {
    padding-left: 10px;
    color: #ddd;
    background-color: #000;
    font-family: monospace;
    vertical-align: top;
    white-space: pre-line;
}

.log-line-number.stderr {
    color: #b00;
}

.log-line-data.stderr {
    color: #d00;
}

tr:hover .log-line-number {
    color: #bbb;
    background-color: #222;
}

tr:hover .log-line-data {
    color: #fff;
    background-color: #222;
}

tr:hover .log-line-number.stderr {
    color: #d00;
    background-color: #422;
}

tr:hover .log-line-data.stderr {
    color: #f00;
    background-color: #422;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
