.build-row {
    color: grey;
}

.build-row td .progress {
    margin: 0;
}

.table tr.build-row td {
    vertical-align: middle;
}

.full-width {
    display: block;
}

.progress {
    position: relative;
}

.progress-bar {
    transition: none;
    -webkit-transition: none;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.commit-info {
    width: 60%;
}

.commit-message {
    max-height: 10em;
    border: 0;
}

.commit-author {
    color:grey;
}

#log {
    border: 0;
    max-height: 1000px;
    background: black;
    color: lightgrey;
    margin: 0;
    border-radius: 0;
}
