.build-row {
    color: grey;
}

.build-row td .progress {
    margin: 0;
}

.table tr.build-row td {
    vertical-align: middle;
}

.full-width {
    display: block;
}

.progress {
    position: relative;
}

.progress .progress-bar {
    transition: none;
    -webkit-transition: none;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.commit-info {
    width: 70%;
}

.commit-message {
    width: 100%;
    font-family: monospace;
    max-height: 10em;
    height: 6em;
    border: 0;
    background: #eee;
    resize: none;
    outline: none;
}

.commit-author {
    color:grey;
}

.build-info {
    vertical-align: top;
    overflow: hidden;
}

.build-info {
    text-overflow: ellipsis;
}

.log-data {
    border: 0;
    max-height: 500px;
    background: black;
    color: lightgrey;
    margin: 0;
    border-radius: 0;
}

.job-row {
    color: grey;
}

tbody.job-table>tr>td, tbody.job-table>th>td {
    border: 0;
}

#log-view .navbar-brand {
    font-size: 14px;
}
