<tr id="build-{{ build.id }}" class="build-row h4">
  <td class="text-center" style="width:5%;">
    {% include "partials/build_link.html" with build=build %}
  </td>
  <td class="text-center" style="width:10%">
    {% if build.status == 'scheduled' %}
    <span class="label label-default full-width">scheduled</span>
    {% elif build.status == 'blocked' %}
    <span class="label label-default full-width">blocked</span>
    {% elif build.status == 'running' %}
    <span class="label label-warning full-width">running</span>
    {% elif build.status == 'finished' %}
      {% if build.result == "success" %}
      <span class="label label-success full-width">success</span>
      {% else %}
      <span class="label label-danger full-width">failure</span>
      {% endif %}
    {% endif %}
  </td>
  <td style="width:10%">
    {% include "partials/build_age.html" with build=build %}
  </td>
  <td style="width:20%">
    {% if build.status == 'running' %}
      {% include "partials/build_progress.html" with build=build %}
    {% elif build.status == 'blocked' %}
      waiting for build
      {% include "partials/build_link.html" with build=build.blocked_by %}
    {% elif build.status == 'finished' %}
      ran for {{ build.get_duration|default:'' }}
    {% endif %}
  </td>
  <td style="width:10%">
    {% if build.get_commit_link %}
      <a href="{{ build.get_commit_link }}" target="_blank">
        <span class="fa fa-github" style="font-size:1.1em"></span>
        {{ build.commit|slice:":8" }}
      </a>
    {% endif %}
  </td>
  <td>
    <a href="{{ build.get_branch_link }}" target="_blank">
      <span class="fa fa-github" style="font-size:1.1em"></span>
      {{ build.branch }}
    </a>
  </td>
  <td>
      {{ build.reason|default:'' }}
  </td>
  <td style="width:5%">
   {% include "partials/build_schedule_copy_link.html" with build=build %}
  </td>
</tr>
