<tr id="build-{{ build.id }}">
  <td class="text-center" style="width:5%">
    <a href="{% url 'build-view' project_slug=build.project.slug build_id=build.build_id %}">
      #{{ build.id }}
    </a>
  </td>
  <td class="text-center" style="width:10%">
    {% if build.status == 'scheduled' %}
    <span class="label label-default full-width">scheduled</span>
    {% elif build.status == 'running' %}
    <span class="label label-warning full-width">running</span>
    {% elif build.status == 'finished' %}
      {% if build.result == "success" %}
      <span class="label label-success full-width">success</span>
      {% else %}
      <span class="label label-danger full-width">failure</span>
      {% endif %}
    {% endif %}
  </td>
  <td style="width:10%">{{ build.creation_time|date:"H:i:s" }}</td>
  <td style="width:20%">
    {% if build.status == 'running' %}
      {% include "partials/build_progress.html" with build=build %}
    {% else %}
      {{ build.get_duration|default:'' }}
    {% endif %}
  </td>
  <td>{{ build.branch }}</td>
</tr>
