{% load gravatar %}
<div id="build-{{ build.id }}">
  <h3 class="page-header" style="margin-top: 1em;">Build #{{ build.build_id }} ({{ build.status }})
    {% include "partials/build_cancel_link.html" with build=build %}
    {% include "partials/build_schedule_copy_link.html" with build=build %}
  </h3>

  {% if build.result %}
    {% if build.result == "success" %}
    <div role="alert" class="alert alert-success">
      <strong>Success!</strong> Very good, sir.
    </div>
    {% elif build.result == "failure" %}
    <div role="alert" class="alert alert-danger">
      <strong>Failure!</strong> I'm sorry to hear that, sir.
      {% if build.result_details %}
      <pre>{{ build.result_details }}</pre>
      {% endif %}
    </div>
    {% else %}
    <div role="alert" class="alert alert-danger">
      <strong>Error!</strong> I'm sorry, sir.
      {% if build.result_details %}
      <pre>{{ build.result_details }}</pre>
      {% endif %}
    </div>
    {% endif %}
  {% endif %}

  <div class="row container" style="width: 100%; padding: 0; margin: 0;">
    <div class="col-lg-6" style="padding-left: 0;">
      <div class="panel panel-default" style="padding: 0;">
        <div class="panel-heading">
        Details
        </div>
        <div class="panel-body">
          {% if build.status == 'running' %}
            {% include "partials/build_progress.html" with build=build %}
          {% endif %}
          <div style="display: table;">
            <div style="display: table-row;">
              {% if build.get_commit %}
                <div class="commit-info" style="display: table-cell; width: 70%;">
                  {% with commit=build.get_commit %}
                    <textarea class="commit-message" readonly="true">{{ commit.message }}</textarea>
                    <span class="commit-author">
                      <img src="{{ commit.author.email|gravatar }}" style="width:32px"/>
                      <span>{{ commit.author.name }} &lt;{{ commit.author.email }}&gt;</span>
                      {% if commit.author.username %}
                        <a href="https://github.com/{{ commit.author.username }}" target="_blank">
                          <span class="fa fa-github" style="font-size:1.1em;"></span>
                          {{ commit.author.username }}
                        </a>
                      {% endif %}
                    </span>
                  {% endwith %}
                </div>
              {% endif %}

              <div class="build-info" style="display: table-cell; padding-left: 1em;">
                <ul class="list-group" style="margin-bottom: 0; display: inline-block">
                  {% if build.get_commit_link %}
                  <li class="list-group-item" style="border:0;padding:2px;color:grey;">
                    <a href="{{ build.get_commit_link }}" target="_blank">
                      <span class="fa fa-github" style="font-size:1.1em;"></span> {{ build.commit|slice:":8" }}
                    </a>
                  </li>
                  {% endif %}
                  {% if build.get_branch_link %}
                  <li class="list-group-item" style="border:0;padding:2px;color:grey;">
                    <a href="{{ build.get_branch_link }}" target="_blank">
                      <span class="fa fa-github" style="font-size:1.1em;"></span> {{ build.branch }}
                    </a>
                  </li>
                  {% endif %}
                  <li class="list-group-item" style="border:0;padding:2px;color:grey;"
                      title="{{ build.creation_time|date:"d.m.Y H:i:s" }}">
                    <span class="fa fa-calendar"></span>
                    <span>
                      {% include "partials/build_age.html" with build=build %}
                    </span>
                  </li>
                  <li class="list-group-item" style="border:0;padding:2px;color:grey;">
                    <span class="glyphicon glyphicon-time"></span>
                    ran for {{ build.get_duration|default:'' }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" style="padding-right: 0;">
      {% include "partials/job_list.html" with build=build %}
    </div>
  </div>
</div>
