<div id="build-{{ build.id }}">
  <h1>Build #{{ build.build_id }} ({{ build.status }})</h1>

  {% if build.result %}
    {% if build.result == "success" %}
    <div role="alert" class="alert alert-success">
      <strong>Success!</strong> Very good, sir.
    </div>
    {% else %}
    <div role="alert" class="alert alert-danger">
      <strong>Failure!</strong> I'm sorry to hear that, sir.
    </div>
    {% endif %}
  {% endif %}

  <div class="row container">
    <div class="panel panel-default col-sm-6">
      <div class="panel-body">
        <p><strong>Created:</strong> {{ build.creation_time }}</p>
        {% if build.start_time %}
          <p><strong>Started:</strong> {{ build.start_time }}</p>
        {% endif %}
        {% if build.status == 'running' %}
          {% include "partials/build_progress.html" with build=build %}
        {% else %}
          <p><strong>Duration:</strong> {{ build.get_duration|default:'' }}</p>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
</div>
