{% load gravatar %}
<div id="build-{{ build.id }}">
  <h1>Build #{{ build.build_id }} ({{ build.status }})
    <a href="{% url 'build-reschedule' project_slug=build.project.slug build_id=build.build_id %}"
       role="button" class="pull-right btn btn-default"
       data-toggle="tooltip" title="Schedule a build based on this one">
      <span class="glyphicon glyphicon-retweet"></span>
    </a>
  </h1>

  {% if build.result %}
    {% if build.result == "success" %}
    <div role="alert" class="alert alert-success">
      <strong>Success!</strong> Very good, sir.
    </div>
    {% else %}
    <div role="alert" class="alert alert-danger">
      <strong>Failure!</strong> I'm sorry to hear that, sir.
    </div>
    {% endif %}
  {% endif %}

  <div class="row container">
    <div class="panel panel-default col-sm-8">
      <div class="panel-body">
        {% if build.status == 'running' %}
          {% include "partials/build_progress.html" with build=build %}
        {% endif %}
        {% if build.get_commit %}
          <div class="commit-info pull-left">
            {% with commit=build.get_commit %}
              <pre class="commit-message">{{ commit.message }}</pre>
              <span class="commit-author">
                <img src="{{ commit.author.email|gravatar }}?s=32"/>
                <span>{{ commit.author.name }} &lt;{{ commit.author.email }}&gt;</span>
                {% if commit.author.username %}
                  |
                  <a href="https://github.com/{{ commit.author.username }}" target="_blank">
                    <span class="fa fa-github" style="font-size:1.1em;"></span>
                    {{ commit.author.username }}
                  </a>
                {% endif %}
              </span>
            {% endwith %}
          </div>
        {% endif %}
        <ul class="list-group pull-right" style="margin-bottom:0">
          {% if build.get_commit_link %}
          <li class="list-group-item" style="border:0;padding:2px;color:grey;">
            <a href="{{ build.get_commit_link }}" target="_blank">
              <span class="fa fa-github" style="font-size:1.1em;"></span> {{ build.commit|slice:":8" }}
            </a>
          </li>
          {% endif %}
          {% if build.get_branch_link %}
          <li class="list-group-item" style="border:0;padding:2px;color:grey;">
            <a href="{{ build.get_branch_link }}" target="_blank">
              <span class="fa fa-github" style="font-size:1.1em;"></span> {{ build.branch }}
            </a>
          </li>
          {% endif %}
          <li class="list-group-item" style="border:0;padding:2px;color:grey;">
            <span class="fa fa-calendar"></span>
            {{ build.get_age }} ago
          </li>
          {% if build.status == 'finished' %}
          <li class="list-group-item" style="border:0;padding:2px;color:grey;">
            <span class="glyphicon glyphicon-time"></span>
            ran for {{ build.get_duration|default:'' }}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
</div>
